{% block media_url_widget %}
  <label
    for="{{ id }}_input"
    style="{{ style }}"
    class="border rounded bg-light media-url-label
    {% if errors|length %} border-danger{% endif %}
    {% if value %} media-url-uploaded{% endif %}">

    <input id="{{ id }}_input" type="file" onchange="handleMediaUrlUpload(this, '#{{ id }}', '{{ channel }}')">

    <i class="bi bi-image text-secondary media-url-bg"></i>
    <i class="spinner-border text-secondary media-url-sp"></i>

    <a href="javascript:;" class="bg-black text-light opacity-75 py-1 rounded-bottom media-url-remove"
      onclick="handleMediaUrlRemove(this, '#{{ id }}')">删除</a>

    <img src="{{ value }}" class="rounded media-url-preview" />
  </label>

  {# display to input hidden #}
  {{ form_widget(form, { type: 'hidden' }) }}
{% endblock %}
