{% block media_widget %}
  <label
    for="{{ id }}_input"
    style="{{ style }}"
    class="border rounded bg-light media-label
    {%- if errors|length %} border-danger{% endif %}
    {%- if value %} media-uploaded{% endif %}"
    onclick="handleMediaUpload(event, '#{{ id }}', '{{ channel }}', '{{ accept }}')">

    <i class="spinner-border media-sp"></i>
    <i class="bi bi-image media-bg"></i>
    <i class="bi bi-trash media-rm" onclick="handleMediaRemove(event, '#{{ id }}')"></i>

    <img src="{{ data.url|default('') }}" class="rounded media-preview" />
  </label>

  {# display to input hidden #}
  {{ form_widget(form, { type: 'hidden' }) }}
{% endblock %}
