{% block media_widget %}
  <div
    style="{{ style }}"
    class="border rounded bg-white media-wrap
    {%- if errors|length %} border-danger{% endif %}
    {%- if value %} media-success{% endif %}
    {%- if disabled %} media-disabled{% endif %}"
    onclick="handleMediaUpload(event, '#{{ id }}', '{{ channel }}', '{{ accept }}')">

    <i class="spinner-border media-sp"></i>
    <i class="bi bi-trash media-rm" onclick="handleMediaRemove(event, '#{{ id }}')"></i>

    <img src="{{ data.url|default('') }}" class="rounded media-preview" />
  </div>

  {# display to input hidden #}
  {{ form_widget(form, { type: 'hidden' }) }}
{% endblock %}
