{% block media_widget %}
<div id="{{ id }}_div">
  <div
    style="{{ style }}"
    class="border rounded bg-white media-wrap
    {%- if errors|length %} border-danger{% endif %}
    {%- if value %} media-success{% endif %}
    {%- if disabled %} media-disabled{% endif %}"
    onclick="handleMediaUpload(this, '{{ id }}', '{{ channel }}', '{{ accept }}')">

    <i class="spinner-border media-sp"></i>
    <i class="bi bi-trash media-rm" onclick="event.stopPropagation(); handleMediaRemove(this, '{{ id }}', '{{ 'generic.remove_confirmation'|trans }}')"></i>

    <div class="media-view">
    {%- if data and data.image -%}
      <img src="{{ data.url }}" />
    {%- elseif data and data.name -%}
      <small>{{ data.name }}</small>
    {%- endif -%}
    </div>
  </div>

  {# Using display none replace input hidden (chrome error) #}
  {{ form_widget(form, { type: 'text', attr: { class: 'd-none' } }) }}
</div>
{% endblock %}
