{% block media_widget %}
<div id="{{ id }}_div">
  <div
    class="border rounded bg-white focus-ring media-wrap
    {%- if errors|length %} border-danger focus-ring-danger{% endif %}
    {%- if value %} media-uploaded{% endif %}
    {%- if disabled %} media-disabled{% endif %}"
    {% if style %}style="{{ style }}"{% endif %}
    tabindex="0"
    onclick="handleMediaUpload(this, '{{ id }}', '{{ channel }}', '{{ accept }}')">

    <span class="spinner-border media-sp"></span>
    <span class="media-rm" onclick="event.stopPropagation(); handleMediaRemove(this, '{{ id }}', '{{ 'generic.remove_confirmation'|trans }}')">&times;</span>

    <div class="media-view">
    {%- if data and data.image -%}
      <img src="{{ data.url }}" />
    {%- elseif data and data.name -%}
      <small>{{ data.name }}</small>
    {%- endif -%}
    </div>
  </div>

  {# Using display none replace input hidden (chrome error) #}
  {{ form_widget(form, { type: 'text', attr: { class: 'd-none' } }) }}
</div>
{% endblock %}
